a[href] {
    color: blue;
}

a:hover {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
}

main {
    display: flex;
    flex: auto;
}

aside {
    flex: 1;
    background-color: azure;
}

article {
    flex: 3;
}

img.small {
    width: 300px;
}

iframe {
    min-height: 500px;
}